# Specify valid name servers. You can locate them on your VPS in /etc/resolv.conf
nserver 8.8.8.8
nserver 8.8.4.4
nscache 65536
daemon
timeouts 1 5 30 60 180 1800 15 60
log /var/log/3proxy.log
logformat "- +_L%t.%. %N.%p %E %U %C:%c %R:%r %O %I %h %T"
archiver gz /usr/bin/gzip %F
rotate 30
authcache user 60
auth none
# Start Proxy on Port 9999 with High Anonymous Mode On Each IP address
# Change IP's below to match the ones on your System 
proxy -n -p9999 -a -i123.123.123.101 -e123.123.123.101
proxy -n -p9999 -a -i123.123.123.102 -e123.123.123.102
proxy -n -p9999 -a -i123.123.123.103 -e123.123.123.103
